In [22]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [26]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [57]:
data = pd.DataFrame()

for i in res['objectIDs']:
    request_object = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
    object_from_request = request_object.json()
    try:
        df =  pd.DataFrame({ 'objectID' : object_from_request['objectID'],
                      'title' : object_from_request['title'],
                      'artistDisplayName' : object_from_request['artistDisplayName'],
                      'department' : object_from_request['department'],
                      'objectBeginDate' : object_from_request['objectBeginDate'],
                      'objectEndDate' : object_from_request['objectEndDate'],
                      'period' : object_from_request['period'],
                      'objectName' : object_from_request['objectName'],
                      'culture' : object_from_request['culture']}, index=[0])
        data = data.append(df)
    except:
        continue

In [45]:
# obj_test

In [61]:
data.query('culture == "Japan"')

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

In [ ]:
# request_by_search = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
# cats_id = request_by_search.json()


# asian_art_data = pd.DataFrame()

# count = 0

# for id_number in cats_id['objectIDs']:
#     print(id_number)
#     request_by_search = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{id_number}')
#     cats = request_by_search.json()
#     try:
#         df_asian_art =  pd.DataFrame({ 'objectID' : cats['objectID'],
#                       'title' : cats['title'],
#                       'artistDisplayName' : cats['artistDisplayName'],
#                       'department' : cats['department'],
#                       'objectBeginDate' : cats['objectBeginDate'],
#                       'objectEndDate' : cats['objectEndDate'],
#                       'period' : cats['period'],
#                       'objectName' : cats['objectName'],
#                       'culture' : cats['culture']}, index=[0])
        
#         asian_art_data = asian_art_data.append(df_asian_art)
#     except:
#         continue

In [ ]:
# count = 0

# for i in cats_id['objectIDs']:
#     print(i)
#     request_by_search = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{id_number}')
#     count += 1
#     if count > 3:
#         break

In [ ]:
print(1)