In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('data.csv', encoding='ISO-8859-1')

In [143]:
# How many duplicates we have?
# Delete duplicates

In [144]:
df.loc[df.duplicated()].shape

(5268, 8)

In [145]:
df.drop_duplicates(inplace=True)

In [146]:
# Count how many orders canceled

In [147]:
new_df = df['InvoiceNo'].str.startswith('C').sum()

In [148]:
df.query('Quantity > 0').shape[0]

526054

In [149]:
df_germany = df[df['Country'] == 'Germany']

In [150]:
df_germany = df_germany.groupby('CustomerID', as_index=False).agg({'InvoiceNo' : pd.Series.nunique})

In [151]:
quant = df_germany.quantile(q=0.8)

In [152]:
germany_top = df_germany.query('InvoiceNo > @quant.InvoiceNo')

In [153]:
top_retail_germany = df.query('CustomerID in @germany_top.CustomerID')

In [154]:
top_retail_germany.groupby('StockCode', as_index=False).agg({'InvoiceNo' : 'count'}).sort_values('InvoiceNo')

     StockCode  InvoiceNo
508      22548          1
711      22948          1
1108    84800L          1
713      22956          1
353      22174          1
...        ...        ...
474      22467         37
411      22328         45
452      22423         55
409      22326         62
1167      POST        219

[1168 rows x 2 columns]

In [155]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [156]:
lol = df.groupby('InvoiceNo', as_index=False).agg({'Revenue' : 'sum'}).sort_values('Revenue')

In [157]:
list(lol[-1:-6:-1].InvoiceNo)

['581483', '541431', '574941', '576365', '556444']