In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [2]:
logs = pd.read_csv('prod_activations_logs.csv', sep=';')
sales1 = pd.read_csv('tm_sales_1.csv', sep=';')
sales2 = pd.read_csv('tm_sales_2.csv', sep=';')
sales3 = pd.read_csv('tm_sales_3.csv', sep=';')

In [42]:
sales = pd.concat([sales1, sales2, sales3])

In [46]:
sales.SUBS_ID = sales.SUBS_ID.apply(lambda x: 'id' + str(x) if not str(x).startswith('id') else x)

In [49]:
sales

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1  id7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
1      idnan          4     7421  12-03-2020 11:25
2  id8362218          7     9879  05-03-2020 11:42
3  id2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [53]:
full_data = sales.merge(logs, how='inner', on=['SUBS_ID', 'PROD_ID'])

In [61]:
full_data.START_DTTM = pd.to_datetime(full_data.START_DTTM)
full_data.END_DTTM = pd.to_datetime(full_data.END_DTTM)
full_data['difference'] = abs(full_data['START_DTTM'] - full_data['END_DTTM'])

In [66]:
data_5minutes = full_data[full_data['difference'] > '5m']

In [67]:
data_5minutes.to_csv('finished_data', sep=';')

In [71]:
# list(data_5minutes['SUBS_ID'].sort_values())