In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [7]:
logs = pd.read_csv('prod_activations_logs.csv', sep=';')
sales1 = pd.read_csv('tm_sales_1.csv', sep=';')
sales2 = pd.read_csv('tm_sales_2.csv', sep=';')
sales3 = pd.read_csv('tm_sales_3.csv', sep=';')

In [8]:
logs

     SUBS_ID  PROD_ID        START_DTTM          END_DTTM
1  id4651830     1954  20-03-2020 14:59  01-12-2020 00:00
5  id7646509     6431  19-03-2020 13:00  19-03-2020 13:03
2  id7461794     3310  20-03-2020 17:25  01-12-2020 00:00
3  id5416547     1743  17-03-2020 10:17  25-03-2020 11:00
4  id8238421     1859  01-03-2020 11:42  01-03-2020 11:43
3  id8641743     2752  20-03-2020 15:44  21-04-2020 15:44
2  id2185490     3210  16-03-2020 16:28  01-12-2020 00:00
6  id7642700     3020  15-03-2020 14:21  15-03-2020 23:42
2  id8741631     5677  19-03-2020 12:28  01-12-2020 00:00

In [15]:
sales = pd.concat([sales1, sales2, sales3])

In [20]:
sales.SUBS_ID.str.startswith('id').apply(lambda x: 'id' + x if x not True)

SyntaxError: invalid syntax (<ipython-input-20-6c54f007204c>, line 1)